.dashboard_container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "main-widget main-widget third"
    "first second third";
    width: 100%;
    height: 100%;


}

@media (max-width: 850px) {
    .dashboard_container {

        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content min-content;
        grid-template-areas:
        "main-widget"
        "first"
        "second"
        "third";
    }
}

.main_widget_container { grid-area: main-widget;
    place-self: center stretch;
    padding: 1em;
}
.column1_container { grid-area: first;
    justify-items: stretch;
    justify-self: center;
width: 100%;
padding: 1em;}
.column2_container { grid-area: second;
    padding: 1em;

    justify-content: center;
    width: 100%;}
.column3_container { grid-area: third;
    justify-self: left;
    display: grid;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

@media (max-width: 850px) {
    .column3_container {

        justify-self: center;
        display: grid;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
    }
}