.session_item_container {
    max-width: 700px;
    min-width: 200px;
    border: 1px solid #3E5270;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 24px 0px;


    display: grid;
    grid-template-columns: 0.6fr 1.1fr;
    grid-template-rows: 0.8fr auto;
    gap: 0px 0px;
    margin: 15px;
    grid-template-areas:
    "session_info session_info"
    "players players";
}


.icon_container {
    grid-area: icon_zone;
    max-height: 4rem;
    max-width: 4rem;
    display: flex;
    justify-items: center;
    align-items: center;
    align-self: center;
    margin: 0.2rem;
    margin-left: 1.2rem;
}
.icon {

    max-height: 4rem;
    max-width: 4rem;

}

.session_info {
    background-position: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-area: session_info;
    border-radius: 0.3rem 0.3rem 0 0 ;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-areas:
    "icon_zone session_info_text";

}

.gamemode_info{
    float: right;
    text-align: left;
    line-height: 250%;
    margin-left: 15px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;


    /* identical to box height, or 25px */

    /* Gray / 100 */
    color: #E6E6E6;


}

.session_info_text {
    grid-area: session_info_text;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 0.2rem;
}

.players {
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    grid-area: players;
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-items: flex-start;

}

.player_card{
    border: 1px solid #3E5270;
    box-sizing: border-box;
    border-radius: 4px;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    margin: 0.3rem;
}

.game_in_progress{


    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 122%;

    /* identical to box height, or 20px */

    /* Gray / 100 */
    color: #E6E6E6;
}

.led_in_progress{
    background: #8DFF99;
    flex-grow: 0;

    margin-left: 5px;
    box-shadow: 2px -2px 8px rgba(226, 255, 45, 0.3), 0px 0px 12px rgba(50, 123, 53, 0.2), -2px 2px 12px rgba(45, 255, 53, 0.6);
    width: 14px;
    height: 14px;
    border-radius: 14px;
}

.lobby_status_container{
    background-color: #3E5270;
    border-radius: 5px;
    border-color: #304254;

    box-shadow: 0px -0px 5px #304254;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    align-self: flex-start;
    flex-wrap: nowrap;
}