.mod_icon {
    max-width: 25px;
}

.mod_slots_container {
    max-height: 30px;
    max-width: 100px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 2px;
    display: flex;
}

.mod_slot{
    justify-content: center;
    margin: 5px;
}