.typewriter_name {
    position: absolute;
    width: 150px;
    top: 27%;
    left: 12%;
    margin: 0px;
    font-size: 1.8vh;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em solid orange; !* The typwriter cursor *!*/
    white-space: nowrap; /* Keeps the content on a single line */
    /*margin: 0 auto; !* Gives that scrolling effect as the typing happens *!*/
    /*letter-spacing: .15em; !* Adjust as needed *!*/
    animation:
            typing 3.5s steps(40, end)
}

.typewriter_pass {
    position: absolute;
    width: 150px;
    top: 46%;
    left: 12%;
    margin: 0px;
    font-size: 1.8vh;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em solid orange; !* The typwriter cursor *!*/
    white-space: nowrap; /* Keeps the content on a single line */
    /*margin: 0 auto; !* Gives that scrolling effect as the typing happens *!*/
    /*letter-spacing: .15em; !* Adjust as needed *!*/
    animation:
            typing 3.5s steps(40, end)
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}